S3_ENDPOINT_URL=https://storage.yandexcloud.net
S3_SOURCE_BUCKET=s3-ds-source
S3_STUDENT_BUCKET=your-student-bucket
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_DEFAULT_REGION=ru-central1
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
