# Скопируйте в .env и заполните ключи, полученные для проекта.
S3_ENDPOINT_URL=https://storage.yandexcloud.net
AWS_DEFAULT_REGION=ru-central1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# Endpoint для загрузки артефактов MLflow в Yandex Cloud.
MLFLOW_S3_ENDPOINT_URL=https://storage.yandexcloud.net

# Учебный сервер MLflow. Логин и пароль выдаются отдельно.
MLFLOW_TRACKING_URI=https://mlflow-ds-20260329-c82965ed5e.infra.data-science.education-services.ru
MLFLOW_TRACKING_USERNAME=your_username
MLFLOW_TRACKING_PASSWORD=your_password
